<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Web Voluntariado BCP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administración
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/administracion/actividades">Actividades</a>
          <a class="dropdown-item" routerLink="/administracion/convocatorias">Convocatorias</a>
          <a class="dropdown-item" routerLink="/administracion/grados">Grados</a>
          <a class="dropdown-item" routerLink="/administracion/grupos">Grupos</a>
          <a class="dropdown-item" routerLink="/administracion/noticias">Noticias</a>
          <a class="dropdown-item" routerLink="/administracion/programas">Programas</a>
          <a class="dropdown-item" routerLink="/administracion/reportes">Reportes</a>
        </div>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" routerLink="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Voluntariado
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/voluntariado/asistencia">Asistencia</a>
          <a class="dropdown-item" routerLink="/voluntariado/usuario">Usuario</a>
        </div>
      </li>
    </ul>
  </div>
</nav>